################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GitVersioning/bin
/GitVersioning/obj
/GitVersioningTest/bin
/GitVersioningTest/obj
